[submodule "spleeter"]
	path = spleeter
	url = git@github.com:X-CCS/spleeter.git
[submodule "subtitle-maker"]
	path = subtitle-maker
	url = git@github.com:redtreeai/subtitle-maker.git
[submodule "aukit"]
	path = aukit
	url = git@github.com:X-CCS/aukit.git
